@font-face {
	font-family: "Edu NSW ACT Foundation";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../../public/font.woff2") format("woff2");
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	scrollbar-width: none;
	font-family: "Edu NSW ACT Foundation", cursive;
}

*:focus {
	outline: none;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
}

.startpage {
	display: grid;
	height: 100vh;
	width: 100vw;
	background-color: var(--startpage-bg);
	grid-template-rows: 2fr 6fr 6fr 1fr;
	grid-template-columns: 4fr 8fr 1fr;
}

.item {
	background-color: var(--item-bg);
	margin: 0.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.edit-pen {
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%, -50%);
	width: 20px;
	border-radius: 4px;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	animation: wobble 1s ease-in-out infinite;
}

.edit-pen:hover {
	background-color: var(--card-bg);
}

.add-btn {
	position: absolute;
	width: 30%;
	aspect-ratio: 1 / 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	animation: wobble 1s ease-in-out infinite;
}

@keyframes wobble {
	0%,
	100% {
		transform: (-50%, -50%);
	}

	15% {
		transform: translate(-50%, -50%) rotate(-30deg);
	}

	30% {
		transform: translate(-50%, -50%) rotate(30deg);
	}

	45% {
		transform: translate(-50%, -50%) rotate(calc(-30deg / 1.8));
	}

	60% {
		transform: translate(-50%, -50%) rotate(calc(30deg / 3));
	}

	75% {
		transform: translate(-50%, -50%) rotate(calc(-30deg / 5));
	}
}
