.tabs {
	grid-row: 1/-1;
	grid-column: 3;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.folder {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 80%;
	aspect-ratio: 1/1;
	position: relative;

	font-size: 1.5rem;
	font-weight: 600;
	border-radius: 1rem;
	cursor: pointer;
	background-color: var(--folder-bg);
	color: var(--folder-fg);
}

.folder .tooltip {
	top: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;

	background-color: var(--folder-tooltip-bg);
	color: var(--folder-tooltip-fg);

	opacity: 0;
	text-align: center;
	border-radius: 0.5rem;
}

.folder:hover .tooltip,
.folder--hover .tooltip {
	opacity: 1;
}

.folder--active {
	background-color: var(--folder-active-bg);
	color: var(--folder-active-fg);
}
